<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav class="glass-effect">
    <button id="voltar" (click)="home()">voltar</button>
    <button (click)="suportados()">usuario</button>
    <button (click)="sair()">sair</button>
  </nav>
  <main>
    <div class="resumo">
        <div class="container-resumo" style="margin-right: 250px;">
            <h1>O que é o Apoio Digital?</h1>
            <h2>O Apoio Digital é um aplicativo criado especialmente para ajudar pessoas idosas a usarem a internet de forma fácil, segura e independente. Ele funciona como um assistente pessoal, guiando o usuário passo a passo em tarefas como fazer videochamadas, enviar mensagens, acessar serviços online e muito mais.</h2>
        </div>
        <div class="container-resumo" style="margin-left: 250px;">
            <h1>Publico Alvo</h1>
            <h2>Os idosos frequentemente encontram obstáculos significativos durante sua jornada de inclusão digital, incluindo limitações físicas e cognitivas, como a diminuição da visão e habilidades motoras, que dificultam a assimilação das novas tecnologias</h2>
        </div>
    </div>
  </main>
</body>
</html>
