<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
</head>
<body>
  <nav class="glass-effect">
    <button (click)="usuarios()">usuarios</button>
    <button class="logout" (click)="sair()">sair</button>
    <button (click)="sobre()">saiba mais</button>
  </nav>
  <header>
    <img src="headerImagem.png" alt="">
    <div id="container-inside">
      <img src="logotipo.png" alt="">
      
    </div>
  </header>
</body>
</html>